body {
font-family: 'Open Sans', sans-serif;
}

.pynews-head {
font-family: 'Roboto', sans-serif;
}

.contenedor {
width: 100%;
}

aside {
margin-top: 30px;
margin-right: 40px;
width: 50%;
padding: 20px;
box-sizing: border-box;
background: #ccc;
float: right;
}

.main {
float: left;
width: 50%;
}
